version: '3.8'

services:
  keto:
    image: oryd/keto:v0.14.0
    ports:
      - "4466:4466"  # Write API / Combined API
      - "4467:4467"  # Read API
    command: serve -c /home/ory/keto.yml
    environment:
      - LOG_LEVEL=info
    volumes:
      - type: bind
        source: ./keto/keto.yml
        target: /home/ory/keto.yml
    restart: on-failure
    depends_on:
      - postgres

  postgres:
    image: postgres:14
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=keto
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=keto
    volumes:
      - keto-postgres:/var/lib/postgresql/data

volumes:
  keto-postgres:
